
html,body {
  scroll-behavior: smooth;
}
body {
  background: url(/assets/images/pattern.png);
  font-size: 16px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--red-col);
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  // background-color: var(--bcg-col);
}
// ----- Connect BLOCK
@import 'block';

// ----- Connect BLOCK
@import 'button';